body {
  overflow: hidden;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}

@media only screen and (max-width: 430px) {
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .d-flex {
    flex-direction: column;
  }
  .icon {
    width: 50%;
    height: auto;
}
}

@media only screen and (max-width: 414px) {
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .d-flex {
    flex-direction: column;
  }
  .icon {
    width: 50%;
    height: auto;
}
}